.list-component-holder {
  flex-direction: column;
  width: 60%;
  margin-top: 5px;
  overflow: auto;
  height: 270px;
  overflow: scroll;
}

scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

span {
  color: #c7c7c7;
  width: 80%;
  padding: 8px 0;
  background-color: #3c3c3c;
  display: flex;
  align-items: center;
  text-indent: 15px;
  margin: 0 auto;
}

.current {
  color: #c7c7c7;
  width: 80%;
  padding: 8px 0;
  background-color: #6f126f;
  display: flex;
  align-items: center;
  text-indent: 15px;
  margin: 0 auto;
}

.list-component:hover {
  background-color: #6f126f;
}

.floating-details {
  position: absolute;
  top: -25px;
  right: 50px;
  font-size: 14px;
  margin: 9px 0;
}

.keys-details-handle {
  color: white;

  background-color: #3c3c3c;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  font-size: 13px;
  border: 1px solid gainsboro;
}
