.App {
  text-align: center;
  background-color: #0e0e17;
  height: 100vh;
  width: 100vw;
}
.components-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found {
  color: white;
}

.input-holder {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.failed-request {
  color: white;
  margin-top: 10px;
}
